/* -------------------- Général - Début ------------------- */

/* -------------------- Général - Fin --------------------- */

/* -------------------- Zone 1 - Début ------------------- */
/* -------------------- Zone 1 - Fin --------------------- */

/* -------------------- Zone 2 - Début ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

body,
html {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: large;
}
.flex-container {
    display: flex;
    justify-content: space-evenly;
}
.font-vibes {
    font-family: 'Great Vibes', serif;
    font-size: xx-large;
}
.font-neuton {
    font-family: 'Neuton', serif;
    font-size: x-large;
}
#zone-2 {
    background-color: white;
    color: #313131;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-around;
}
#video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 600px;
}
#presentation {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    height: 600px;
    text-align: center;
}
/* -------------------- Zone 2 - Fin --------------------- */

/* -------------------- Zone 3 - Début ------------------- */



/* -------------------- Zone 3 - Fin --------------------- */
#zone-3 {
    background-color: white;
    color: #313131;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}
#formule-menu p {
    margin: 3;
}
#formule-menu {
    border: 2px solid #313131;
    width: 35%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
#info-resto {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: space-around;
}
.hours{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #313131;
    width: 100%;
    height: 40%;
}
#info-resto p {
    margin: 0;
}
.adress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #313131;
    width: 100%;
    height: 40%;
}
/* -------------------- Zone 4 - Début ------------------- */
/* -------------------- Zone 4 - Fin --------------------- */

