/* -------------------- Général - Début ------------------- */
/* -------------------- Général - Fin --------------------- */

/* -------------------- Zone 1 - Début ------------------- */
/* -------------------- Zone 1 - Fin --------------------- */

/* -------------------- Zone 2 - Début ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

body,
html {
    font-family: 'Montserrat', sans-serif;
}

.font-vibes {
    font-family: 'Great Vibes', serif;
    font-size: xx-large;
}

.font-bold {
    font-weight: bold;
}

#zone-2 {
    background-color: burlywood;
    display: flex;
    align-items: center;
    height: 110vh;
    justify-content: space-around;
}

#formule-menu {
    background-color: #c47602;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}
#formule-menu p{
    margin: 20px;
}
#presentation {
    display: flex;
    background-color: rgb(88, 88, 193);
    width: 30%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
}

#presentation p {
    font-size:large;
    margin: 60px;
}

#info-resto {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    justify-content: space-between;
}
.hours{
    background-color: #5abba3;
    width: 100%;
    height: 45%;
}
.adress{
    background-color: rgb(202, 133, 133);
    width: 100%;
    height: 45%;
}

#info-resto p {
    font-size: large;
}

/* -------------------- Zone 2 - Fin --------------------- */

/* -------------------- Zone 3 - Début ------------------- */
/* -------------------- Zone 3 - Fin --------------------- */

/* -------------------- Zone 4 - Début ------------------- */
/* -------------------- Zone 4 - Fin --------------------- */