/* -------------------- Général - Début ------------------- */
/* -------------------- Général - Fin --------------------- */

/* -------------------- Zone 1 - Début ------------------- */
/* -------------------- Zone 1 - Fin --------------------- */

/* -------------------- Zone 2 - Début ------------------- */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body, html {
    font-family: 'Montserrat', sans-serif;
}
.font-vibes {
    font-family: 'Great Vibes', serif;
    font-size: xx-large;
}
.font-bold {
    font-weight: bold;
}
#zone-2 {
    padding-left: 20px;
    background-color: #FDF2E2;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 700px;
}
#formule-menu {
    width: 36%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
}
#text-presentation {
    width: 30%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text-presentation p {
    font-size: x-large;
}
#info-resto {
    width: 34%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#info-resto p {
    font-size: large;
}
/* -------------------- Zone 2 - Fin --------------------- */

/* -------------------- Zone 3 - Début ------------------- */
/* -------------------- Zone 3 - Fin --------------------- */

/* -------------------- Zone 4 - Début ------------------- */
/* -------------------- Zone 4 - Fin --------------------- */

