@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 300vh;
}

/* -------------------- Général - Début ------------------- */
ul {
    display: flex;
    justify-content: center;
}

li {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: brown;
}
.navbar{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* -------------------- Général - Fin --------------------- */

/* -------------------- Zone 1 - Début ------------------- */
.zone-1{
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/photos-gratuite/vue-du-chef-travaillant-dans-cuisine_23-2149728014.jpg?w=900&t=st=1675257599~exp=1675258199~hmac=88042dc5bd20e75084361b5aaee22728d2fe2cd705c832629bf2c597e189d984");
    background-size: 1600px 750px;
    background-repeat: no-repeat;
}
/* -------------------- Zone 1 - Fin --------------------- */

/* -------------------- Zone 2 - Début ------------------- */
/* -------------------- Zone 2 - Fin --------------------- */

/* -------------------- Zone 3 - Début ------------------- */
/* -------------------- Zone 3 - Fin --------------------- */

/* -------------------- Zone 4 - Début ------------------- */
/* -------------------- Zone 4 - Fin --------------------- */